<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="http://localhost/lab_prog_2025/app/resources/views/">
    <script type="module" src="http://localhost/lab_prog_2025/public/app/js/user/index.js" defer></script>
</head>
<body>

    <h1>Listado de usuarios</h1>
    <a href="user/create.html">Nueva cuenta</a>
    <button type="button" onclick="" id="buttonListar">Listar</button>
    
</body>
</html>